{% extends "base.html" %}

{{% block title %} Home {% endblock title %} Home }

{% block body %}

<div class="container my-4">
  <div class="row">

    <div class="col-md-6">
      <div class="card" style="width: 100%;">
        <img src="https://i.postimg.cc/q7Phtn43/growtika-TKAg3-Wign-Sw-unsplash.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card" style="width: 100%;">
        <img src="https://i.postimg.cc/nznxwc1W/growtika-Am6p-Be2-Fp-Jw-unsplash.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container my-4">
  <div class="row">

    <div class="col-md-6">
      <div class="card" style="width: 100%;">
        <img src="https://i.postimg.cc/gJ4p9FS2/shutterstock-1912951960.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card" style="width: 100%;">
        <img src="https://i.postimg.cc/Kv115JjM/christina-wocintechchat-com-L85a1k-Xq-H8-unsplash.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock body %}
